.button{
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: #D0B2A6;
    -fx-border-width: 2 1 0 1;
    -fx-border-radius: 10 10 0 0;
    -fx-border-color: black;
    -fx-font-size: 18;
}

.button:hover:pressed {
    -fx-background-color: #80726b;
}

.button:hover {
    -fx-background-color: #e4dcd9;
}

/* CHECKBOX */

.check-box {
    -fx-font-size: 20;
}

.check-box .box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
}

.check-box:selected .mark {
    -fx-background-color: black;
}

.check-box:selected .box {
    -fx-background-color: #D0B2A6;
}

/* SCROLL BAR */
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color : #a68e84;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #534742;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

/* LISTVIEW */
.list-cell:odd{
    -fx-background-color: #e2dbd7;
}

.list-cell:even {
    -fx-background-color: #ede9e7;
}

.list-cell:selected {
    -fx-background-color: #534742;
}

/* eliminating blue outline of selected list view */
.list-view:focused{
    -fx-background-color: #ede9e7;
}

/* eliminating blue outline of selected button */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}




