.button{
    -fx-background-radius: 20;
    -fx-background-color: #D0B2A6;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border-color: black;
}

.button:hover:pressed {
    -fx-background-color: #80726b;
}

.button:hover {
    -fx-background-color: #e4dcd9;
}

#main-pane {
    -fx-background-color: #F4F1EF;
}